html {
  font-family: inter, sans-serif;
}

body {
  margin: 0;
  font-size: 62.5%;
  background: linear-gradient(240deg, #000 50%, #222222 75%, #222 100%);
}

p {
  margin: 0;
  color: #fff;
}

/* ************************************************************** */
/* Header section */
/* ************************************************************** */
.sec-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  /* width: min-content;
  margin: auto; */
}

.crc-logo {
  height: 12rem;
}

/* ************************************************************** */
/* Course section */
/* ************************************************************** */
.sec-course {
  padding: 1.2rem 2.4rem;
}

.sec-title {
  font-family: poppins;
  font-size: 4.2rem;
  font-weight: 300;
}

.div-courses {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  margin: 0.6rem 1.2rem;
}

.course {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  right: 2.4rem;
  margin-bottom: 2.4rem;
  background-color: #000;
  border: 2px solid #d8d8d8;
  padding: 0 0 0.8rem 0.8rem;
  border-radius: 0.6rem;
}

.course:hover {
  background: radial-gradient(closest-side, #1b1b1bcc, #111111cc);
}

.course-img {
  width: 12rem;
  border-radius: 0.4rem;
}

.course-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1.2rem 0;
}

ul {
  font-size: 1.2rem;
  color: #bdbdbd;
}

.btn-register {
  display: inline-block;
  appearance: none;
  background-color: #2ea44f;
  font-family: poppins;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-decoration: none;
}

.btn-register:hover {
  background-color: #2c974b;
}

.btn-register:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .crc-logo {
    height: 6.4rem;
  }

  .sec-title {
    font-size: 2.4rem;
  }

  .sec-course {
    padding: 0 0 0.8rem 0.8rem;
    margin: 1.2rem;
  }
  .div-courses {
    display: block;
    margin: 0;
  }
  .course {
    display: grid;
    border-radius: 0.4rem;
  }
  .course-img {
    width: 14rem;
    border-radius: 0.4rem;
  }
  .course-title {
    font-size: 1.6rem;
  }

  ul {
    padding: 1.2rem;
  }

  li {
    font-size: 1rem;
  }
  .btn-register {
    margin-bottom: 0.4rem;
  }
}
